* {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: justify;
    
}

body{
    height: 1000px;
}

section-2{
    background-color:#C0C9D4;
    margin: 30px 0px 30px 30px;
}

#image-profile {
    width: 300px;
    height: 300px;
    background-image:url(https://scontent.fcjs3-2.fna.fbcdn.net/v/t39.30808-6/278020342_287351220236757_1237295401883111838_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEM3LjxUXz-OE71CstVCrFWFWVGIQxW6Q8VZUYhDFbpDx77R3_nFBjNlRgdE4NbnZ3wDnEKr8qcVlCVslqbmsu1&_nc_ohc=cAsfVpJy4dsAX-JYbHi&_nc_ht=scontent.fcjs3-2.fna&oh=00_AfB7u-uWt9jI_ZDf3SPIFXmNV-0eZwJi_VdEoGoZaf67cw&oe=65549067);
    background-size: cover;
    border-radius: 100%;
    border: solid;
}

#profile-description{
    flex: 1;
    width: 300px;
    height: 400px;
}

.tittle{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px 20px;
 }

 .container{
    display: flex;
    margin: 30px 0px 30px 30px;
 }

h1 .tittle #work-history-tittle{
    margin: auto;
}

 .works h2, h3, h4, li{
    margin: 20px 0px 20px 20px;
 }

 .activity-list{
    list-style-type: disc;
    list-style-position: outside;  
 }